<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <form method='POST'>
        <label for='nome'>Usuário:</label>
        <input type='text' id='nome' name='nome' required><br><b>

        <label for='cpf'>Usuário:</label>
        <input type='text' id='cpf' name='cpf' required><br><b>

        <label for='cnpj'>Usuário:</label>
        <input type='text' id='cnpj' name='cnpj' required><br><b>

        <label for='ie'>Usuário:</label>
        <input type='text' id='ie' name='ie' required><br><b>


        <input type='submit' value='Enviar'>
    </form>
</body>
</html>