<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/cCliente_styles.css">
    <title>Cadastro</title>
</head>
<body class ="font">
    <div class>
        <form class = "form" method='POST'>

            <label class ="label" for='nome'>Nome:</label>
            <input class ="input" type='text' id='nome' name='nome' required><br><b>

            <label class ="label" for='cpf/cnpj'>CPF/CNPJ:</label>
            <input class ="input" type='text' id='cpf/cnpj' name='cpf/cnpj' required><br><b>

            <label class ="label" for='ie'>Inscrição estadual:</label>
            <input class ="input" type='text' id='ie' name='ie' required><br><b>

            <label class ="label" for='tipo'>Tipo:</label>
            <input class ="input" type='text' id='tipo' name='tipo' required><br><b>


            <input class ="input" type='submit' value='Enviar'>
        </form>
    <div>

</body>
</html>
