<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>EDUFU</title>
</head>
<body class = "font">
    <!-- Header -->
    <header class="header">
        <h1>Editora da UFU<br>
            EDUFU<br>
            Universidade Federal de Uberlândia</h1>
        <p>Bem-vindo ao nossa Livraria!</p>
    </header>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <!--<a href="#" class="logo">EDUFU</a>-->
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
    </nav>
    <main class="main">        
        <div class="catalogo">
            {% for livro in livros %}
                <div class="livro">
                    <h2>{{ livro[1] }}</h2>
                    <p>Autor: {{ livro[2] }}</p>
                    <p>Ano de publicação: {{ livro[3] }}</p>
                    <p>ISBN: {{ livro[4] }}</p>
                    <form action="/comprar" method="POST">
                        <input type="hidden" name="id" value="{{ livro[0] }}">
                        <input type="hidden" name="titulo" value="{{ livro[1] }}">
                        <input type="hidden" name="autor" value="{{ livro[2] }}">
                        <input type="hidden" name="ano_publicacao" value="{{ livro[3] }}">
                        <input type="hidden" name="isbn" value="{{ livro[4] }}">
                        <button type="submit" class="botao-compra">Comprar</button>
                    </form>
                </div>
                
            {% endfor %}
        </div>
        
    </main>
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <h2>Entre em Contato</h2>
            <p class="contact-info">Telefone: (11) 1234-5678</p>
            <p class="contact-info">Email: contato@exemplo.com</p>

            <div class="social-links">
                <a href="https://facebook.com" target="_blank">Facebook</a>
                <a href="https://twitter.com" target="_blank">Twitter</a>
                <a href="https://linkedin.com" target="_blank">LinkedIn</a>
            </div>

            <div class="links">
                <a href="/sobre">Sobre Nós</a>
                <a href="/privacidade">Política de Privacidade</a>
                <a href="/termos">Termos de Uso</a>
            </div>

            <p>&copy; 2024 Nome da Empresa. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>