<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>EDUFU</title>
</head>
<body class = "font body">
    <!-- Header -->
    <header class="header">
        <div>
            
            <h1>EDUFU</h1><br>
            <h2>Universidade Federal de Uberlândia</h2>    
            <p>Bem-vindo ao nossa Livraria!</p>
        </div>
    </header>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <!--<a href="#" class="logo">EDUFU</a>-->
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
    </nav>
    <main class = "main">
        
        <div class="catalogo">
        {% for livro in livros %}
            <div class="livro">
                <div>
                    <h3>{{ livro[1] }}</h3>
                    <p>Autor: {{ livro[2] }}</p>
                    <p>R$ {{ livro[7] }}</p>
                </div>
                <form action="/comprar" method="POST">
                    <input type="hidden" name="isbn" value="{{ livro[0] }}">
                    <input type="hidden" name="titulo" value="{{ livro[1] }}">
                    <input type="hidden" name="autor" value="{{ livro[2] }}">
                    <input type="hidden" name="assunto" value="{{ livro[3] }}">
                    <input type="hidden" name="idioma" value="{{ livro[4] }}">
                    <input type="hidden" name="editora" value="{{ livro[5] }}">
                    <input type="hidden" name="estoque" value="{{ livro[6] }}">
                    <input type="hidden" name="preco" value="{{ livro[7] }}">
                    <div class="div-button">
                        <button type="submit" class="botao-compra">Adicionar ao carrinho</button>
                    </div>
                </form>
            </div>
              
        
                
            {% endfor %}
        </div>
        
    </main>
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <h2>Entre em Contato</h2>
            <p class="contact-info">Telefone: (11) 1234-5678</p>
            <p class="contact-info">Email: contato@exemplo.com</p>

            <div class="social-links">
                <a href="https://facebook.com" target="_blank">Facebook</a>
                <a href="https://twitter.com" target="_blank">Twitter</a>
                <a href="https://linkedin.com" target="_blank">LinkedIn</a>
            </div>

            <div class="links">
                <a href="/sobre">Sobre Nós</a>
                <a href="/privacidade">Política de Privacidade</a>
                <a href="/termos">Termos de Uso</a>
            </div>

            <p>&copy; 2024 Nome da Empresa. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>