<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Formulário</title>
</head>
<body class = "font"> 
    <div class = "container">   
        <h1 class = "title">EDUFU</h1>
        <form class = "form" method="POST">
            <!--<label class ="form-label" for="username">Login</label>-->
            <input class ="input" type="text" id="username" name="username"  placeholder="Usuário" required><br>      
            <!--<label class ="form-label" for="password">Senha:</label>-->
            <input class ="input" type="password" id="password" name="password" placeholder="Senha" required><br>

            <input class ="submit form-submit:hover" type="submit" value="Entrar">
            <a href="http://127.0.0.1:5000/cadastro">cadastre-se</a>
        </form>
        
    </div>
</body>
</html>